﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testRegister.aspx.cs" Inherits="TP0_ASP_EVENT_PHASE2.testRegister" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label Text="" ID="StatusMessage" runat="server" />
            <asp:Label Text="username" runat="server" />
            <asp:TextBox runat="server" Text="" ID="username" /><br />
            <asp:Label Text="email" runat="server" />
            <asp:TextBox runat="server" Text="" ID="email" /><br />
            <asp:Label Text="password" runat="server" />
            <asp:TextBox runat="server" Text="" ID="password" /><br />
            <asp:Button Text="Register" runat="server" ID="register" OnClick="Unnamed_Click" />
        </div>
    </form>
</body>
</html>
