﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="layout.Master.cs" Inherits="TP0_ASP_EVENT_PHASE2.pages.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Conferance | AGORA</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css\fontawesome\css\font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    <!--DEBUT BAR NAVIGATION-->

    <form id="form1" runat="server">
        <asp:ScriptManager runat="server" ID="scripteManager" EnablePageMethods="true" />
        <nav class="navbar navbar-default navbar-expand-md fixed-top ">
      <div id="header" class="container">
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" ontoggle="">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="../img/logo.png">
        </div>
    
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ><a class="nav_items" href="#header">Overview</a></li>
                <li ><a class="nav_items" href="#about">Features</a></li>
                <li ><a class="nav_items" href="#mySlider">Gallery</a></li>
                <li ><a class="nav_items" href="#team">Team</a></li>
                <li ><a class="nav_items" href="#contact">Contact</a></li>
                <li ><asp:button runat="server" ID="Login" PostBackUrl="~/Login.aspx" OnClick="Login_Click" Text="Login" class="btn btn-register" CausesValidation="false" /></li>
                <li ><asp:button runat="server" ID="Button1" PostBackUrl="~/Register.aspx"  Text="Register" class="btn btn-register" CausesValidation="false"/></li>
            </ul>
        </div>
      </div>
    </nav>
        <div>
            <asp:ContentPlaceHolder ID="bodyContent" runat="server">

            </asp:ContentPlaceHolder>
        </div>
    </form>

    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-7">tous droits réservés  &copy; 2019 By Hamza El Guabdaoui</div>
            <div class="col-md-5">
              <div class="icon-block text-center">
                <i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;
                <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;
                <i class="fa fa-google-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </footer>
    
  <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder ID="scripts" runat="server">

    </asp:ContentPlaceHolder>
</body>
</html>
