﻿body {
}

.register-banner{
    height: 400px;
    width: 100%;
}

.main{
    margin:auto;
    width:400px;
}

.register-button{
    width:100%;
}

.text-register{
    font-size:x-large;
    text-align:center;
}


body {
    background: url('../img/rethink-target-heart-rate-number-ftr.jpg') fixed;
    background-size: cover;
}

#register_form {
    max-width: 530px;
    padding: 15px;
    margin: 120px auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

    #register_form h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #000000;
        margin-top: 5%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
    }





