﻿.schedule-main {
padding-top: 100px;
background: url(../img/dune-png.png) bottom center no-repeat;
background-color: #EF8837;
background-size: 100% auto cover;
}

.navbar {
background-color: #2A2A2C !important;
padding: 10px 40px;
}

.schedule-header {
text-align: center;
color: #FFF;
}

.schedule-header h1 {
font-family: Poppins, sans-serif;
font-size: 4.2rem;
line-height: 6.3rem;
margin: 0 0 1rem;
text-transform: uppercase;
font-weight: 800;
}

.schedule-acitivities {
display: inline;
}

.schedule-acitivities div {
background-color: red;
padding: 20px 0;
}

.schedule-acitivities div p {
line-height: 0;
}

.center{
    margin: 28px auto;
    text-align: center;
}




.activity-header {
    text-align: center;
    padding: 0 100px;
}


#schedule {
padding: 90px  0;
/*height: 100vh;*/
background: url('../img/dune-png.png') bottom center no-repeat;
background-color: #EF8837;
}


#schedule .nav-tabs {
text-align: center;
margin: auto;
display: block;
border-bottom: 0;
margin-bottom: 30px;
}

#schedule .nav-tabs li {
display: inline-block;
margin-bottom: 0;
}

#schedule .nav-tabs a {
border: none;
border-radius: 50px;
font-weight: 600;
background-color: #0e1b4d;
color: #fff;
padding: 10px 40px;
}

#schedule .nav-tabs a.active {
background-color: #f82249;
color: #fff;
}

#schedule .sub-heading {
text-align: center;
font-size: 18px;
font-style: italic;
margin: 0 auto 30px auto;
}

#schedule .tab-pane {
transition: ease-in-out .2s;
}

#schedule .schedule-item {
border-bottom: 1px solid #cad4f6;
padding-top: 15px;
padding-bottom: 15px;
transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item:hover {
background-color: #fff;
}

#schedule .schedule-item time {
padding-bottom: 5px;
display: inline-block;
}

#schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

    #schedule .schedule-item .speaker img {
        height: 100%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-left: 50%;
        transition: all ease-in-out 0.3s;
    }

#schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

#schedule .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
}

#schedule .schedule-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
}

/* Sections Header
--------------------------------*/

.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

    .section-header::before {
        content: '';
        position: absolute;
        display: block;
        width: 60px;
        height: 5px;
        background: #f82249;
        bottom: 0;
        left: calc(50% - 25px);
    }

    .section-header h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        margin-bottom: 10px;
        color:white;
    }

    .section-header p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #FFF;
    }

.section-with-bg {
    background-color: #f6f7fd;
}

.menu-programme{
    display:grid;
}

.schedule-body {
    border-radius: 33px;
    background-color: #ff7f50b8;
    padding: 45px;
}
.tab-content {
    border-radius: 16px;
    background-color: #ed143dbf;
    padding: 26px;
}

.activity-image{
    width:100%;
    height:200px;
}
.time {
    color: #FFF;
    font-weight: 800;
}
.time-details {
    color: #FFF;
    font-size:1.5em;
    font-weight: 800;
}

.titre-details {
    font-size: 1.5em;
}


.startTraget {
    width: 20%;
    display: inline !important;
}