.navbar-default{
	background-color: transparent;
	z-index: 2;
	border: none;
	position:fixed;
	width: 100%;
}

.btn-register {
    background-color: #395a5acc;
    border-color: #4cae4c;
    line-height: 0.4 !important;
    height: 35px;
    width: 100%;
    margin-top: 7px;
    color: #FFF;
}


.cover{
  width: 100%;
  height: 100vh;
  background: url(../img/background01.jpg) top center;
  background-size: cover;
}


.nav_items {
	color:white !important;
}

#eventInfo {
    color: white;
    margin-top: 10%;
}

#eventInfo h2 {
    color: #F57E22;
    font-size: 3.3vw;
    font-weight: 1;
}

.countDown h4{
    font-weight: 900;
    font-size: x-large;
    font-family: serif;
    color: darkorange;
}

.countDown p{
	 font-size: 8.4vh;
    font-weight: bold;
}
 
.cover div h1 {
    font-weight: bold;
    font-size: 6vw;
    font-family: sans-serif;
}

#number0 {
    color: teal;
}

#number1 {
    color: darkorange;
}

#number2 {
    color: orangered;
}


#about{
	padding: unset;
}

.col-height p {
	text-align: left !important;
	font-size: 3vh !important;
 }

.col-height h1 {
	text-align: left !important;
	margin-top: 41px !important;
 }

 .carousel{
    width: 100%;
    padding: unset;
}

#slider {
    margin-top:0px;
}

.sliderImg{
    height:680px;
    width:100%;
    
}

#mySlider{
	padding: unset;
	margin: unset;
	width: 100%;
}

/* #team {
    margin-top: 2%;
} */



/*Profile card 4*/
.profile-card-4 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-4 .card-body{
    position:relative;
}
.profile-card-4 .profile {
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: 50%;
    width:100px;
    border: 3px solid rgba(255, 255, 255, 1);
    margin-left: -50px;
}
.profile-card-4 .card-img-block{
    position:relative;
}
.profile-card-4 .card-img-block > .info-box{
    position:absolute;
    background:rgba(217,11,225,0.6);
    width:100%;
    height:100%;
    color:#fff;
    padding:20px;
    text-align:center;
    font-size:14px;
   -webkit-transition: 1s ease;
    transition: 1s ease;
    opacity:0;
}
.profile-card-4 .card-img-block:hover > .info-box{
    opacity:1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.profile-card-4 h5{
    font-weight:600;
    color:#d90be1;
}
.profile-card-4 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-4 .icon-block{
    float:left;
    width:100%;
}
.profile-card-4 .icon-block a{
    text-decoration:none;
}
.profile-card-4 i {
  display: inline-block;
    font-size: 16px;
    color: #d90be1;
    text-align: center;
    border: 1px solid #d90be1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-4 i:hover {
  background-color:#d90be1;
  color:#fff;
}
#team .card-img-block {
    margin-bottom: 12%;
}

#team .card {
    background: #f7f6f6;
    padding-bottom: 50px;
    border-radius: 4px/4px;
}
hr{
    border-color: #aaa;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container iframe{
    left:0;
    top:0;

    height:100%;
    width:100%;
    position:absolute;
}
.footer {
    background-color: #2a2a2c;
    color: #fff8f0;
    height: 80px;
    font-size: large;
    padding: 30px;
    text-align: center; 
}
.footer i {
    font-size: 30px;
}


/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/


